@charset "UTF-8";
.icon-instagram {
  color: #C227A0; }

.icon-facebook {
  color: #3c27c2; }

* {
  margin: 0;
  padding: 0; }

header {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Pushster', cursive;
  background-color: #FAEBC3; }

li {
  display: inline;
  padding: 20px;
  border-radius: 10%; }

p {
  color: #090A13;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  padding-left: 1%;
  padding-bottom: 20px; }

a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  a:hover, a:focus {
    background-size: 100% 2px;
    color: #000;
    font-weight: 10; }

h2 {
  text-align: start;
  padding-left: 1%;
  margin-top: 3%;
  font-size: 30px;
  margin-bottom: 2rem; }

h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 1rem 0 1rem 0;
  font-size: 25px; }

h4 {
  font-size: 14px; }

footer {
  background-color: #FEF5ED;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0; }
  footer ul li {
    list-style-type: none; }
    footer ul li a {
      margin-left: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-size: 17px; }
  footer h2 {
    font-family: "Pushster", cursive; }

.logoWhatsapp {
  position: sticky;
  height: 10vh;
  float: left;
  bottom: 5vh;
  padding: 0 4vh 0 0; }

.contenedor {
  text-align: center;
  margin: 10rem 0 2rem 0;
  padding: 10px;
  border-radius: 4px;
  background-image: radial-gradient(circle, #f1e2a6 0%, #ffab5c 35%, #e08a79 100%);
  border-radius: 20px;
  filter: drop-shadow(5px 10px 5px black);
  transition: all 0.5s;
  height: auto; }

nav .container-fluid {
  background-image: radial-gradient(circle, #f1e2a6 0%, rgba(255, 204, 92, 0.916404) 38%, rgba(230, 164, 151, 0.846376) 100%); }
  nav .container-fluid .logo {
    margin-left: 50px;
    font-family: "Pushster", cursive;
    color: #dd20a8; }
  nav .container-fluid .colorNav {
    color: #000000;
    list-style: none;
    font-weight: 10px; }
  nav .container-fluid .botonMenu .offcanvas-end .offcanvas-header .offcanvas-title {
    color: #dd20a8; }
    nav .container-fluid .botonMenu .offcanvas-end .offcanvas-header .offcanvas-title .offcanvas-body {
      background-color: #000000; }
  nav .container-fluid .botonMenu .offcanvas-end .offcanvas-header .menuDesplegado {
    font-size: 15px;
    margin-top: 15px; }

main .carousel {
  object-fit: cover; }
  main .carousel .carousel-control-prev {
    color: #000000; }
  main .carousel .carousel-item {
    max-height: 700px;
    min-width: 500px; }

main .carousel-inner {
  object-fit: cover;
  width: 100%;
  margin: auto; }

main .separador {
  position: relative;
  margin: 10vh 0 5vh 0;
  text-align: center;
  transform: rotate(180deg); }

main .gridPadreQuienesSomos {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "parrafo1";
  margin-top: 50px;
  margin-bottom: 50px; }
  main .gridPadreQuienesSomos .contenedor {
    text-align: center;
    margin: 10rem 0 2rem 0;
    padding: 10px;
    border-radius: 4px;
    background-image: radial-gradient(circle, #f1e2a6 0%, #ffab5c 35%, #e08a79 100%);
    border-radius: 20px;
    filter: drop-shadow(5px 10px 5px black);
    transition: all 0.5s;
    height: auto; }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 #e18bce; }
  to {
    box-shadow: 0 0 0 15px rgba(255, 122, 0, 0); } }
    main .gridPadreQuienesSomos .contenedor .row .column {
      margin: auto;
      margin-bottom: 16px;
      padding: 0 8px;
      position: relative;
      width: 400px; }
      main .gridPadreQuienesSomos .contenedor .row .column .card, main .gridPadreQuienesSomos .contenedor .row .column .card .thumbnail {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(0deg, #fbfbfb 0%, #4a463d 100%);
        border-radius: 10px;
        width: 330px; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .thumbnail {
          animation: pulse 1s infinite; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .imgCard {
          max-height: 350px;
          width: 500px;
          object-fit: cover; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas {
          padding: 0 16px;
          width: 600px; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .contenedorTarjetas:after {
            content: "none";
            clear: both;
            display: table; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .row::after {
            content: "none";
            clear: both;
            display: table; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .title {
            color: gray;
            text-align: start;
            padding-left: 1%;
            margin-top: 3%;
            font-size: 30px;
            margin-bottom: 2rem; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .buttonCard {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 50%; }

main .separador2 {
  text-align: center;
  position: relative; }

main .gridPadreNosotros {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "textoVideo videoFacebook"; }
  main .gridPadreNosotros .contenedor .videoDerecha {
    float: right;
    width: 400px;
    margin: 0 0 10px 10px;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s;
    border-radius: 10px; }
  main .gridPadreNosotros .contenedor .videoText {
    margin-top: 40px;
    margin-bottom: 50px; }

footer .gridPadreFooter {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "instagram facebook"; }
  footer .gridPadreFooter .instagram {
    grid-area: instagram; }
  footer .gridPadreFooter .facebook {
    grid-area: facebook; }

.logoWhatsapp {
  position: sticky;
  height: 10vh;
  float: left;
  bottom: 5vh;
  padding: 0 4vh 0 0; }
  .logoWhatsapp a {
    background-position: 0% 0%;
    background-size: 0% 2px;
    margin-left: 2vh; }

.logoWhatsappPropiedades {
  width: 90px; }

@media only screen and (min-width: 250px) {
  .card, main .gridPadreQuienesSomos .contenedor .row .column .card .thumbnail {
    width: 200px; }
  .barraNavegacion {
    display: none; }
    .barraNavegacion ul li {
      margin: 0 0 10px 0;
      padding: 0; }
  .buttonCard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 98%;
    width: 100%; }
  .separadorPropiedades {
    width: 300px;
    margin-top: 50px; }
  .separador2Propiedades {
    width: 300px;
    margin-top: 50px; }
  p {
    text-align: start;
    font-size: 23px; }
  .column {
    position: relative;
    width: 100%; }
  .videoDerecha {
    width: 100%;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s; }
  .thumbnail {
    animation: pulse 1s infinite;
    width: 360px;
    margin: 0 15px 39px 0;
    z-index: 1000; }
  @keyframes pulse {
    from {
      box-shadow: 0 0 0 0 #F6A5E4; }
    to {
      box-shadow: 0 0 0 15px rgba(255, 122, 0, 0); } }
  header {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    width: 100%;
    height: 150px;
    align-items: center;
    position: fixed;
    z-index: 100; }
  .logo {
    margin: 10px;
    text-align: center; }
  .colorNav {
    font-size: 20px; } }

@media only screen and (min-width: 800px) {
  .barraNavegacion {
    display: none; }
  .buttonCard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 98%; } }

@media only screen and (min-width: 900px) {
  .barraNavegacion {
    display: inline; }
  .buttonCard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 98%; } }

main .headImg .imagenEncabezado {
  height: 30rem;
  object-fit: fill;
  width: 100%;
  border-bottom: 3px solid black; }

main .boxInfo .tituloNovedades {
  text-align: center;
  font-size: 2rem;
  z-index: 2; }

main .boxInfo .contenedorInfo {
  position: relative;
  height: 400px; }
  main .boxInfo .contenedorInfo .box1 {
    position: relative;
    width: 350px;
    height: 500px;
    background: #C5E3F0;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 50px 100px 10px; }
    main .boxInfo .contenedorInfo .box1 .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: 1; }
      main .boxInfo .contenedorInfo .box1 .icon .ic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        font-size: 100px; }
    main .boxInfo .contenedorInfo .box1 .icon:hover {
      top: 20px;
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;
      border-radius: 50%; }
  main .boxInfo .contenedorInfo .content {
    position: relative;
    height: calc(100% - 10px);
    text-align: center;
    padding: 20px;
    top: 100%;
    transition: 0.5s; }
    main .boxInfo .contenedorInfo .content h3 {
      margin: 0;
      padding: 0;
      color: black; }
    main .boxInfo .contenedorInfo .content p {
      margin: 0;
      padding: 0;
      color: black; }

main .boxInfo .box1:hover .icon .ic {
  height: 80px; }

main .boxInfo .box1:hover .content {
  top: 100px; }

main .boxInfo .box1:nth-child(1) .icon {
  background: #FA4D29; }

main .boxInfo .box1:nth-child(2) .icon {
  background: #E0A577; }

main .boxInfo .box1:nth-child(3) .icon {
  background: #ED729C; }

main .boxInfo .box1:nth-child(4) .icon {
  background: #7B72ED; }

@media only screen and (max-width: 599px) and (min-width: 380px) {
  .box1 {
    margin: 10px 10px 100px 50px; } }

footer .gridPadreFooter {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "instagram facebook"; }
  footer .gridPadreFooter .instagram {
    grid-area: instagram; }
  footer .gridPadreFooter .facebook {
    grid-area: facebook; }

main section .contenedor-imagen {
  position: relative;
  text-align: center;
  color: white; }
  main section .contenedor-imagen .botonServicio {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #000;
    background-image: linear-gradient(0deg, #e6cfe6 0%, #f065f4 100%);
    text-align: center;
    cursor: pointer;
    width: 20%;
    margin-top: 15px;
    border-radius: 10px; }
  main section .contenedor-imagen .imagenServicioUñas {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover; }
  main section .contenedor-imagen .imgFinService {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover; }
  main section .contenedor-imagen .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  main section .contenedor-imagen .introServicios {
    margin: 80px 0 50px 0; }
  main section .contenedor-imagen .imagenServicio {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover; }
  main section .contenedor-imagen .abajo-izquierda {
    position: absolute;
    bottom: 8px;
    left: 16px;
    border-bottom: 10px double rgba(164, 20, 20, 0.49);
    border-radius: 26px; }

footer .gridPadreFooter {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "instagram facebook"; }
  footer .gridPadreFooter .instagram {
    grid-area: instagram; }
  footer .gridPadreFooter .facebook {
    grid-area: facebook; }

main .gridPadreCursos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "imagen" "textos"; }
  main .gridPadreCursos .contenedor {
    text-align: center;
    margin: 10rem 0 2rem 0;
    padding: 10px;
    border-radius: 4px;
    background-image: radial-gradient(circle, #f1e2a6 0%, #ffab5c 35%, #e08a79 100%);
    border-radius: 20px;
    filter: drop-shadow(5px 10px 5px black);
    transition: all 0.5s;
    height: auto; }
    main .gridPadreCursos .contenedor .cursoImg1 {
      display: flex;
      float: left;
      width: 400px;
      height: 400px;
      filter: drop-shadow(16px 16px 10px black);
      transition: all 0.5s; }
    main .gridPadreCursos .contenedor .contentCourse1 h3 {
      text-align: start; }
    main .gridPadreCursos .contenedor .contentCourse1 p {
      text-align: start; }
    main .gridPadreCursos .contenedor .cursoImg2 {
      float: right;
      padding: 0 50px 0 0;
      width: 390px;
      height: 390px;
      filter: drop-shadow(16px 10px 10px black);
      transition: all 0.5s;
      margin: 0 0 0 20px;
      border-radius: 10px; }

main .imgFooter {
  position: relative;
  width: 100%;
  height: 20rem; }

footer .gridPadreFooter {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "instagram facebook"; }
  footer .gridPadreFooter .instagram {
    grid-area: instagram; }
  footer .gridPadreFooter .facebook {
    grid-area: facebook; }

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .contenedor {
    padding: 10px; } }

main .gridPadreContacto {
  display: grid;
  background-image: url(https://st4.depositphotos.com/16122460/i/600/depositphotos_264157144-stock-photo-beautiful-woman-with-stylish-nail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "formulario"; }
  main .gridPadreContacto .formulario {
    grid-area: formulario; }
  main .gridPadreContacto form {
    position: relative;
    text-align: center;
    margin-bottom: 200px;
    font-size: 22px;
    color: #DB478F;
    bottom: 50px;
    top: 150px; }
    main .gridPadreContacto form .campo {
      display: block;
      width: 40%;
      margin: 10px auto; }
    main .gridPadreContacto form .boxMensaje {
      margin-top: 2rem; }
    main .gridPadreContacto form input {
      height: 20px;
      transition: background-color 1s; }
    main .gridPadreContacto form input:hover {
      background-color: #FFAB5C; }
    main .gridPadreContacto form label {
      text-align: center; }
    main .gridPadreContacto form .botones {
      margin-top: 15px;
      font-size: 35px; }
      main .gridPadreContacto form .botones .modal-body {
        font-size: 15px;
        font-family: 'Roboto', sans-serif; }
      main .gridPadreContacto form .botones a {
        background-image: none;
        color: black; }

@media only screen and (max-width: 599px) and (min-width: 250px) {
  .boxMensaje {
    width: 60%; } }

@media only screen and (max-width: 899x) and (min-width: 600px) {
  .barraNavegacion {
    display: none; }
  .botonMenu {
    display: inline-block; }
  .buttonCard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 0px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 98%;
    width: 100%; }
  .logo {
    margin: 10px;
    text-align: center; } }

@media only screen and (min-width: 900px) {
  .botonMenu {
    display: none; } }
