.icon-instagram {
  color: #C227A0; }

.icon-facebook {
  color: #3c27c2; }

* {
  margin: 0;
  padding: 0; }

header {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Pushster', cursive;
  background-color: #FAEBC3; }

li {
  display: inline;
  padding: 20px;
  border-radius: 10%; }

p {
  color: #090A13;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  padding-left: 1%;
  padding-bottom: 20px; }

a {
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  a:hover, a:focus {
    background-size: 100% 2px;
    color: #000;
    font-weight: 10; }

h2 {
  text-align: start;
  padding-left: 1%;
  margin-top: 3%;
  font-size: 30px;
  margin-bottom: 2rem; }

h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 1rem 0 1rem 0;
  font-size: 25px; }

footer {
  background-color: #FEF5ED;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  footer ul li {
    list-style-type: none; }
    footer ul li a {
      margin-left: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-size: 17px; }
  footer h2 {
    font-family: "Pushster", cursive; }

.contenedor {
  text-align: center;
  margin: 10rem 3rem 3rem 3rem;
  padding: 30px;
  border-radius: 4px;
  background-image: radial-gradient(circle, #f1e2a6 0%, #ffab5c 35%, #e08a79 100%);
  border-radius: 20px;
  filter: drop-shadow(5px 10px 5px black);
  transition: all 0.5s;
  height: auto; }

nav .container-fluid {
  background-image: radial-gradient(circle, #f1e2a6 0%, rgba(255, 204, 92, 0.916404) 38%, rgba(230, 164, 151, 0.846376) 100%); }
  nav .container-fluid .logo {
    margin-left: 50px;
    font-family: "Pushster", cursive;
    color: #dd20a8; }
  nav .container-fluid ul li {
    color: #000000;
    list-style: none;
    font-weight: 10px; }
  nav .container-fluid .botonMenu {
    display: none; }
    nav .container-fluid .botonMenu .offcanvas-end .offcanvas-header .offcanvas-title {
      color: #dd20a8; }
    nav .container-fluid .botonMenu .offcanvas-end .offcanvas-header .menuFooter {
      font-size: 15px;
      margin-top: 15px; }

main .carousel {
  object-fit: cover; }
  main .carousel .carousel-control-prev {
    color: #000000; }
  main .carousel .carousel-item {
    max-height: 700px; }

main .carousel-inner {
  object-fit: cover;
  width: 80%;
  margin: auto; }

main .separador {
  position: relative;
  margin: 10vh 0 5vh 0;
  text-align: center;
  transform: rotate(180deg); }

main .gridPadreQuienesSomos {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "parrafo1";
  margin-top: 50px;
  margin-bottom: 50px; }
  main .gridPadreQuienesSomos .contenedor {
    text-align: center;
    margin: 10rem 3rem 3rem 3rem;
    padding: 30px;
    border-radius: 4px;
    background-image: radial-gradient(circle, #f1e2a6 0%, #ffab5c 35%, #e08a79 100%);
    border-radius: 20px;
    filter: drop-shadow(5px 10px 5px black);
    transition: all 0.5s;
    height: auto; }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 #e18bce; }
  to {
    box-shadow: 0 0 0 15px rgba(255, 122, 0, 0); } }
    main .gridPadreQuienesSomos .contenedor .row .column {
      margin: auto;
      width: 30%;
      margin-bottom: 16px;
      padding: 0 8px; }
      main .gridPadreQuienesSomos .contenedor .row .column .card, main .gridPadreQuienesSomos .contenedor .row .column .card .thumbnail {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
        background-image: linear-gradient(0deg, #fbfbfb 0%, #4a463d 100%);
        border-radius: 10px; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .thumbnail {
          animation: pulse 1s infinite; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .imgCard {
          max-height: 400px;
          object-fit: cover; }
        main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas {
          padding: 0 16px; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .contenedorTarjetas:after, main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .row::after {
            content: "";
            clear: both;
            display: table; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .title {
            color: gray;
            text-align: start;
            padding-left: 1%;
            margin-top: 3%;
            font-size: 30px;
            margin-bottom: 2rem; }
          main .gridPadreQuienesSomos .contenedor .row .column .card .contenedorTarjetas .buttonCard {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 50%; }

main .separador2 {
  text-align: center;
  position: relative; }

main .gridPadreNosotros {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "textoVideo videoFacebook"; }
  main .gridPadreNosotros .contenedor .videoDerecha {
    float: right;
    width: 400px;
    margin: 0 0 10px 10px;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s;
    border-radius: 10px; }
  main .gridPadreNosotros .contenedor .videoText {
    margin-top: 40px;
    margin-bottom: 50px; }

footer .gridPadreFooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "instagram facebook"; }
  footer .gridPadreFooter .instagram {
    grid-area: instagram; }
  footer .gridPadreFooter .facebook {
    grid-area: facebook; }

.logoWhatsapp {
  position: sticky;
  height: 10vh;
  float: left;
  bottom: 5vh;
  padding: 0 4vh 0 0; }
  .logoWhatsapp a {
    background-position: 0% 0%;
    background-size: 0% 2px;
    margin-left: 2vh; }

.logoWhatsappPropiedades {
  width: 90px; }

section .imagenEncabezado {
  height: 30rem;
  object-fit: cover;
  width: 100%;
  border-bottom: 3px solid black; }

section .tituloNovedades {
  text-align: center;
  font-size: 2rem;
  z-index: 2; }

section .contenedorInfo {
  position: relative;
  height: 300px;
  width: 800px;
  margin: auto;
  /* .box1:hover{
            height: 80px;
        } */ }
  section .contenedorInfo .box1:nth-child(1) .icon {
    background: #FA4D29; }
  section .contenedorInfo .box1:nth-child(2) .icon {
    background: #FA4D29; }
  section .contenedorInfo .box1:nth-child(3) .icon {
    background: #FA4D29; }
  section .contenedorInfo .box1:nth-child(4) .icon {
    background: #7B72ED; }
  section .contenedorInfo .box1 {
    position: relative;
    width: 400px;
    height: 400px;
    background: #C5E3F0;
    float: left;
    margin: 40px;
    box-sizing: border-box;
    overflow: hidden;
    left: 9rem;
    border-radius: 10px;
    /* .box1:hover{
                top:100px
            } */ }
    section .contenedorInfo .box1 .content {
      position: absolute;
      height: calc(100% - 10px);
      text-align: center;
      padding: 20px;
      top: 100%;
      transition: 0.5s; }
      section .contenedorInfo .box1 .content .spanTitulo {
        color: #C227A0;
        font-size: 25px; }
      section .contenedorInfo .box1 .content h3 {
        margin: 0;
        padding: 0;
        color: black; }
      section .contenedorInfo .box1 .content p {
        margin: 0;
        padding: 0;
        color: black; }
    section .contenedorInfo .box1 .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: 1; }
      section .contenedorInfo .box1 .icon .ic {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.5s;
        font-size: 100px; }
    section .contenedorInfo .box1 .icon:hover {
      top: 20px;
      left: calc(50% - 40px);
      width: 80px;
      height: 80px;
      border-radius: 50%; }
