*{
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Pushster', cursive;
    background-color:#e9d7a5;
}

header{
    font-family: 'Roboto', sans-serif;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;

}

.column {
    margin: auto;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(74,70,61,1) 100%);
    border-radius: 10px;
}

.imgCard {
    max-height: 400px;
    object-fit: cover;
}

.contenedorTarjetas {
    padding: 0 16px;
}

.contenedorTarjetas::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: gray;
}

.buttonCard{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color:#000;
    text-align: center;
    cursor:pointer;
    width: 50%;
}

.container-fluid {
    background-image: radial-gradient(circle, rgba(241,226,166,1) 0%, rgba(255,204,92,0.9164040616246498) 38%, rgba(230,164,151,0.8463760504201681) 100%);
}

.menuFooter {
    font-size: 15px;
    margin-top:15px;
}

.offcanvas-title {
    color:#F017B3;
}

.logo{
    margin-left: 50px;
    color: #dd20a8;
    font-family: 'Pushster', cursive;
}

.galeria{
    display: flex;
    padding-top: 10rem;
    overflow-x: scroll;
    margin: auto;
    width: 80%;
    
}


.galeria::-webkit-scrollbar {
    width: 12px;              
}

.galeria::-webkit-scrollbar-track {
    background: #cfced1;
    border-radius: 6px;        
}

.galeria::-webkit-scrollbar-thumb {
    background-color: #838285;    
    border-radius: 20px;      
    border: 3px solid #FCFAFF;  
}

.galeriaFotos{
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-left: 7%;
    margin-bottom: 3%;
}
/* BORRAR PARA HACER FUNCIONAL CARRUSEL */
/* .carousel{
    display: flex;
    align-items: center;
} */

.carousel {
    object-fit: cover;
}

.carousel-item {
    max-height: 700px;
}

.carousel-inner {
    object-fit: cover;
    width: 80%;
    margin: auto;
}

.colorNav{
    color: #000000;
    list-style: none;
    font-weight: 10px;
}

/* Pasado a scss General */
li{
    display: inline;
    padding: 20px;
    border-radius: 10%;
}
/* Pasado a scss */
a:hover,
a:focus {
    background-size: 100% 2px;
    color:#000;
    font-weight: 10;
}


.contenedor{
    text-align: center;
    margin: 10rem 3rem 3rem 3rem ;
    padding: 30px;
    border-radius: 4px;
    background-image: radial-gradient(circle, rgba(241,226,166,1) 0%, rgba(255,171,92,1) 35%, rgba(224,138,121,1) 100%);
    border-radius: 20px;
    filter: drop-shadow(5px 10px 5px black);
    transition: all 0.5s;
    height: auto;

}


/* Efecto Pulse*/

.thumbnail{
    animation: pulse 1s infinite;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 #e18bce;
    }
    to {
        box-shadow: 0 0 0 15px rgba(255, 122, 0, 0);
    }

}

/* Fin efecto Pulse */

p{
    color: #090A13;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    padding-left: 1%;
    padding-bottom: 20px;
}

gridPadreNosotros{
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto auto auto;
    grid-template-areas: 
    "textoVideo videoFacebook";
}


.foot{
    text-align: left;
}

.separador{
    position: relative;
    margin: 10vh 0 5vh 0;
    text-align: center;
    transform: rotate(180deg);
}


.gridPadreQuienesSomos{
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas:"parrafo1";
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
    text-align: start;
    padding-left: 1%;
    margin-top:3%;
    font-size: 30px;
    margin-bottom: 2rem;
}

h3{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 1rem 0 1rem 0;
    font-size: 25px;
}



.separador2{
    text-align: center;
    position: relative;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.logoWhatsapp a {
    background-position: 0% 0%;
    background-size: 0% 2px;
    margin-left: 2vh;
}


.videoText{
    margin-top: 40px;
    margin-bottom: 50px;
} 
/* Pasado a Scss */
.videoDerecha{
    float: right;
    width: 400px;
    margin: 0 0 10px 10px;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s;
    border-radius: 10px;
} 
/* Pasado a Scss */

.footTitle{
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    padding: 10px;
}


gridPadreFooter{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "instagram"
    "facebook";
}

.instagram{
    grid-area: instagram;
}

.facebook{
    grid-area: facebook;
}

.icon-instagram:active {
    color: #C227A0;
}

.icon-facebook:active {
    color: #C227A0;
}

footer{
    background-color:#FEF5ED;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

footer h2 {
    font-family: 'Roboto', sans-serif;
}


.logoWhatsapp{
    position: sticky;
    height: 10vh;
    float: left;
    bottom: 5vh;
    padding: 0 4vh 0 0;
}

.logoWhatsappPropiedades{
    width: 90px;
}

/* Inicio Trending */
.imagenEncabezado{
    height: 30rem;
    object-fit: cover; 
    width: 100%;
    border-bottom: 3px solid black;
}

.tituloNovedades{
    text-align: center;
    font-size: 2rem;
    z-index: 2;
}



.contenedorInfo{
    position: relative;
    height: 300px;
    width: 800px;
    margin:auto;
} 
.contenedorInfo .box1{
    position: relative;
    width: 400px;
    height: 400px;
    background: #C5E3F0;
    float: left;
    margin: 40px;
    box-sizing:border-box;
    overflow: hidden;
    left: 9rem;
    border-radius: 10px;
}

.contenedorInfo .box1 .icon{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
}

.contenedorInfo .box1 .icon:hover{
    top:20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius:50%;
}

.contenedorInfo .box1 .icon .ic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    font-size: 100px;
}

.contenedorInfo .box1:hover .icon .ic{
    height: 80px;
}

.contenedorInfo .box1 .content{
    position: absolute;
    height: calc(100% - 10px);
    text-align: center;
    padding: 20px;
    top:100%;
    transition: 0.5s;
}
.contenedorInfo .box1:hover .content{
    top:100px
}

.contenedorInfo .box1 .content h3{
    margin: 0;
    padding: 0;
    color:black;
}

.contenedorInfo .box1 .content p{
    margin: 0;
    padding: 0;
    color:black;
}

.contenedorInfo .box1:nth-child(1) .icon{
    background: #FA4D29;
}

.contenedorInfo .box1:nth-child(2) .icon{
    background: #E0A577;
}

.contenedorInfo .box1:nth-child(3) .icon{
    background: #ED729C;
}

.contenedorInfo .box1:nth-child(4) .icon{
    background:#7B72ED;
}
.spanTitulo{
    color:#C227A0;
    font-size: 25px;
}


.modal-body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

gridPadreContacto {
    display: grid;
    background-image: url(https://st4.depositphotos.com/16122460/i/600/depositphotos_264157144-stock-photo-beautiful-woman-with-stylish-nail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
    "formulario"
    ;
}

.formulario {
    grid-area:formulario;
}

input {
    height: 20px;
    transition: background-color 1s;
}

input:hover {
    background-color: #FFAB5C;
}

.campo {
    display: block;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
}

.botones {
    margin-top: 15px;
    font-size: 35px;
}


.boxMensaje{
    margin-top: 2rem;
}

form{
    position: relative;
    text-align: center;
    margin-bottom: 200px;
    font-size: 22px;
    color: #DB478F;
    bottom: 50px;
    top: 150px;
}


.gridPadreCursos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "imagen"
    "texto"
    ;
}

.imagen{
    grid-area: imagen;
}

.texto{
    justify-content: texto;
}

.cursoImg1{
    display: flex;
    float:left;
    width:300px;
    height: 300px;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s;
}


.cursoImg2{
    float: right;
    padding: 0 50px 0 0;
    width: 300px;
    height: 300px;
    filter: drop-shadow(16px 10px 10px black);
    transition: all 0.5s;
}


.imgDiv{
    position: relative;
    width: 100%;
    height: 20rem;
}

.gridPadrePrecios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #C227A0;
}

.imagen1, .imagen2, .imagen3 {

    border-radius: 20px;
}

.contenido1{
    grid-column: 1 / 3;
}

.serviceImg{
    display:inline-flex ;
    padding-left: 40px;
    object-fit: cover;
    position: relative;
    filter: drop-shadow(10px 10px 16px black);
}

.contenedor-imagen {
    position: relative;
    text-align: center;
    color: white;
}

.imagenServicioUñas {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.centrado {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.contenedor-imagen .centrado h3{
    font-size:50px;
    margin: 0 0 15rem 0;
}

.serviceText{
    text-align: center;
}

.imgFinService{
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.introServicios {
    margin: 80px 0 50px 0;
}

.imagenServicio {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.botonServicio{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:#000;
    background-image: linear-gradient(0deg, rgba(230,207,230,1) 0%, rgba(240,101,244,1) 100%);
    text-align: center;
    cursor:pointer;
    width: 20%;
    margin-top: 15px;
    border-radius: 10px;
}

#colorUña {
    color: #000;
}

.abajo-izquierda {
    position: absolute;
    bottom: 8px;
    left:16px;
    border-bottom: 10px double rgba(164,20,20,0.49);
    border-radius: 26px;
}

.abajo-izquierda h4{
    font-size: 30px;
}

.contenidoPrecios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
} 

.precios h2 {
    margin: 100px 0 0 0;
    text-align: center;
    text-decoration: underline;
}

.precios h3 {
    text-align: start;
}

.botonMenu {
    display: none;
}


@media only screen and (max-width:799px) and (min-width:600px) {

.botonMenu {
    display: inline;
}

.barraNavegacion {
    display: none;
}

.imagenEncabezado{
    width: 800px;
    }

.contenedorInfo {
    margin-left: 50px;
    }
#footerTrending {
        display: none;
    }

.tituloNovedades {
    text-align: center;
    }

    .gridPadreServicios {
        overflow-x:scroll ;
    }
}


@media only screen and (max-width:599px) {

    /* VISTA MOBILE TRENDING */

.botonMenu {
    display: inline;
}

    .imagenEncabezado{
        display: none;

    }
    .logoWhatsapp {
        margin-left: 10px;
    }

    .logoWhatsappPropiedades{
        width: 50px;
    }
    .tituloNovedades {
    display: none;
    }

    #footerTrending{
        background-color: #ED729C;
        display: none;
    }

    /* VISTA MOBILE INDEX */

    .separadorPropiedades {
        width: 300px ;
        margin-top: 50px;
    }

    .separador2Propiedades {
        width: 300px ;
        margin-top: 50px;
    }

    p{
        text-align: start;
        font-size: 23px;
    }

    .column {
        width: 100%;
        display: block;
    }

    .videoDerecha{
    width: 100%;
    filter: drop-shadow(16px 16px 10px black);
    transition: all 0.5s;
    } 

    .thumbnail{
        animation: pulse 1s infinite;
        width: 200px;
        margin: 0 15px 39px 0;
        z-index: 1000;
    }
    
    @keyframes pulse {
        from {
            box-shadow: 0 0 0 0 #F6A5E4;
        }
        to {
            box-shadow: 0 0 0 15px rgba(255, 122, 0, 0);
        }

    }

    header{
        font-family: 'Roboto', sans-serif;
        display:inline-block;
        width:100%;
        height: 150px;
        align-items: center;
        position: fixed;
        z-index: 100;
    }

    .barraNavegacion {
        display: none;
    }

    .barraNavegacion ul li {
        margin: 0 0 10px 0;
        padding: 0;
    }


    .logo{
        margin: 10px;
        text-align: center;
    }


    .colorNav {
        font-size: 20px;
    }

    .cursoImg2{
        width: 100%;
        margin-bottom: 50px;
    }

    .cursoImg1 {
        width: 100%;
        margin-bottom: 50px;
    }

    footer{
        width: 100%;
        height: 150px;
    }

    .imgDiv{
        display: none;
    }

    #footerCursos{
        display: none;
    }

    footer h4 {
        font-size: 19px;
    }

    .gridPadreServicios {
        overflow-x: scroll;
    }

    .contenidoPrecios {
        overflow-x: scroll;
    }

    /* Servicios */

.introServicios p {
    text-align: center;
}

.botonServicio{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:#000;
    background-image: linear-gradient(0deg, rgba(230,207,230,1) 0%, rgba(240,101,244,1) 100%);
    text-align: center;
    width: 20%;
    margin-top: 15px;
    font-size: 15px;
}

}
