

main{

    .gridPadreContacto{
        display: grid;
        background-image: url(https://st4.depositphotos.com/16122460/i/600/depositphotos_264157144-stock-photo-beautiful-woman-with-stylish-nail.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:
        "formulario"
        ;

        .formulario{
            grid-area:formulario;
        }

        
        form{
            position: relative;
            text-align: center;
            margin-bottom: 200px;
            font-size: 22px;
            color: #DB478F;
            bottom: 50px;
            top: 150px;

            .campo{
                display: block;
                width: 40%;
                margin: 10px auto;
                }
            .boxMensaje{
                margin-top: 2rem;
                }
            input{
                height: 20px;
                transition: background-color 1s;
                }
            input:hover{
                background-color: #FFAB5C;
                }
            label{
                text-align: center;
                }
            .botones{
                margin-top: 15px;
                font-size: 35px;

                .modal-body{
                    font-size: 15px;
                    font-family: 'Roboto', sans-serif;
                    }
                a{
                    background-image: none;
                    color: black;
                    
                }
            }
        }
    }
}

@media only screen and (max-width:599px) and (min-width:250px){
    .boxMensaje{
        width: 60%;
    }
}

@media only screen and (max-width:899x) and (min-width:600px){
    .barraNavegacion {
        display: none;
    }

    .botonMenu{
        display: inline-block;
    }
    .buttonCard{
        @include buttonCard;
        width:100%;
    }
    .logo{
        @include logo
    }
}

@media only screen and (min-width:900px){
    .botonMenu{
        display: none;
    }
}
