nav {

    .container-fluid {
        background-image: radial-gradient(circle, rgba(241,226,166,1) 0%, rgba(255,204,92,0.9164040616246498) 38%, rgba(230,164,151,0.8463760504201681) 100%);
        
        .logo{
        margin-left: 50px;
        font-family:$FuentePrincipal;
        color: $ColorLogo;
        }

        ul{

            li{
                color: #000000;
                list-style: none;
                font-weight: 10px;
            }
        }
        .botonMenu {
            display: none;

            .offcanvas-end {

                .offcanvas-header {
                    
                    .offcanvas-title {
                        color:$ColorLogo
                    }
                    .menuFooter{
                        font-size: 15px;
                        margin-top:15px;
                    }    
                }
            }
        }
    }
}

main {

    .carousel{
        object-fit:cover;

        .carousel-control-prev{
            color: #000000;
        }

        .carousel-item {
            max-height: 700px;
        }
    }

    .carousel-inner {
        object-fit: cover;
        width: 80%;
        margin: auto;
    }
    .separador {
        position: relative;
        margin: 10vh 0 5vh 0;
        text-align: center;
        transform: rotate(180deg);
    }

    .gridPadreQuienesSomos {
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:"parrafo1";
        margin-top: 50px;
        margin-bottom: 50px;

        .contenedor {
            @include contenedor;

            .row {

                @keyframes pulse {
                    from {
                        box-shadow: 0 0 0 0 #e18bce;
                    }
                    to {
                        box-shadow: 0 0 0 15px rgba(255, 122, 0, 0);
                    }
                
                }

                .column{
                    margin: auto;
                    width: 30%;
                    margin-bottom: 16px;
                    padding: 0 8px;

                    .card {
                        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
                        background-image: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(74,70,61,1) 100%);
                        border-radius: 10px;
                        

                        .thumbnail{
                            @extend .card;
                            animation: pulse 1s infinite;
                        }

                        .imgCard {
                            max-height: 400px;
                            object-fit: cover;
                        }
                        .contenedorTarjetas {
                            padding: 0 16px;

                            .contenedorTarjetas:after, row::after{
                                content: "";
                                clear: both;
                                display: table;
                            }
                            .title{
                                color: $ColorTarjeta;
                            }
                            .buttonCard {
                                @include boton-tarjeta;
                            }
                        }
                    }
                }
            }
        }
    }
    .separador2{
        text-align: center;
        position: relative;
    }

    .gridPadreNosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
        "textoVideo videoFacebook";

        .contenedor {

            .videoDerecha{
                @include float-right
            }
            .videoText{
                margin-top: 40px;
                margin-bottom: 50px;
            }
        }
    }
}

footer{
    .gridPadreFooter {
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "instagram facebook";

    .instagram{
        grid-area: instagram;
    }
    .facebook{
        grid-area: facebook;
    }
    }
}

.logoWhatsapp {
    position: sticky;
    height: 10vh;
    float: left;
    bottom: 5vh;
    padding: 0 4vh 0 0;

    a{
        background-position: 0% 0%;
        background-size: 0% 2px;
        margin-left: 2vh;
    }
}

.logoWhatsappPropiedades {
    width: 90px;
}