
main {

    .carousel{
        object-fit:cover;

        .carousel-control-prev{
            color: #000000;
        }

        .carousel-item {
            max-height: 700px;
            min-width: 500px;
        }
    }

    .carousel-inner {
        object-fit: cover;
        width: 100%;
        margin: auto;
    }
    .separador {
        position: relative;
        margin: 10vh 0 5vh 0;
        text-align: center;
        transform: rotate(180deg);
    }

    .gridPadreQuienesSomos {
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas:"parrafo1";
        margin-top: 50px;
        margin-bottom: 50px;

        .contenedor {
            @include contenedor;

            .row {
                @keyframes pulse {
                    from {
                        box-shadow: 0 0 0 0 #e18bce;
                    }
                    to {
                        box-shadow: 0 0 0 15px rgba(255, 122, 0, 0);
                    }
                }

                .column{
                    margin: auto;
                    margin-bottom: 16px;
                    padding: 0 8px;
                    position: relative;
                    width: 400px;
    
                    .card {
                        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
                        background-image: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(74,70,61,1) 100%);
                        border-radius: 10px;
                        width: 330px;

                        .thumbnail{
                            @extend .card;
                            animation: pulse 1s infinite;
                        }

                        .imgCard {
                            max-height: 350px;
                            width: 500px;
                            object-fit: cover;
                        }
                        .contenedorTarjetas {
                            padding: 0 16px;
                            width: 600px;

                            
                            .contenedorTarjetas:after{
                                content: "none";
                                clear: both;
                                display: table;
                            }
                            .row::after{
                                content: "none";
                                clear: both;
                                display: table;
                            }
                            
                            .title{
                                color: $ColorTarjeta;
                                @include h2-propiedades
                            }
                            .buttonCard {
                                @include boton-tarjeta;
                            }
                        }
                    }
                }
            }
        }
    }
    .separador2{
        text-align: center;
        position: relative;
    }

    .gridPadreNosotros{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto auto auto;
        grid-template-areas: 
        "textoVideo videoFacebook";

        .contenedor {

            .videoDerecha{
                @include float-right
            }
            .videoText{
                margin-top: 40px;
                margin-bottom: 50px;
            }
        }
    }
}

footer{
    .gridPadreFooter {
        padding-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "instagram"
        "facebook";

        .instagram{
            grid-area: instagram;
        }
        .facebook{
            grid-area: facebook;
        }
    }
}

.logoWhatsapp {
    position: sticky;
    height: 10vh;
    float: left;
    bottom: 5vh;
    padding: 0 4vh 0 0;

    a{
        background-position: 0% 0%;
        background-size: 0% 2px;
        margin-left: 2vh;
    }
}

.logoWhatsappPropiedades {
    width: 90px;
}


@include mediaQuery (mobile){
    
    .card{
        width: 200px;
    }

    .barraNavegacion {
        display: none;

        ul{
            li{
                margin: 0 0 10px 0;
                padding: 0;
            }
        }
    }
    

    .buttonCard{
        @include buttonCard;
        width:100%;
        
    }
    .separadorPropiedades {
        width: 300px ;
        margin-top: 50px;
    }
    .separador2Propiedades {
        width: 300px ;
        margin-top: 50px;
    }
    p{
        text-align: start;
        font-size: 23px;
    }
    .column {
        position: relative;
        width: 100%;
        
    }
    .videoDerecha{
        width: 100%;
        filter: drop-shadow(16px 16px 10px black);
        transition: all 0.5s;
        } 
    .thumbnail{
        animation: pulse 1s infinite;
        width: 360px;
        margin: 0 15px 39px 0;
        z-index: 1000;
        }
    @keyframes pulse {
        from {
            box-shadow: 0 0 0 0 #F6A5E4;
        }
        to {
            box-shadow: 0 0 0 15px rgba(255, 122, 0, 0);
        }
    }
    header{
        font-family: 'Roboto', sans-serif;
        display:inline-block;
        width:100%;
        height: 150px;
        align-items: center;
        position: fixed;
        z-index: 100;
    }
    .logo{
        @include logo
    }
    .colorNav {
        font-size: 20px;
    }
}

@include mediaQuery (tablet){
    .barraNavegacion {
        display: none;
    }
    .buttonCard{
        @include buttonCard

        }
}

@include mediaQuery (desktop){
    .barraNavegacion{
        display: inline;
    }
    .buttonCard{
        @include buttonCard
        }

} 

