*{
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Roboto', sans-serif;
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Pushster', cursive ;
    background-color: $ColorBase ;
}

li {
    display: inline;
    padding: 20px;
    border-radius: 10%;
}

p{
    color: #090A13;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    padding-left: 1%;
    padding-bottom: 20px;
}

a{
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

    &:hover, &:focus{
        background-size: 100% 2px;
        color:#000;
        font-weight: 10;
    }
}

h2{
    @include h2-propiedades;
}

h3{
    @include h3-propiedades;
}

h4{
    font-size: 14px;
}

footer {
    background-color:map-get($FondoFooter, blanco-crema );
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;

    ul li {
        list-style-type: none;
        a{
            margin-left: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            color: #000000;
            font-family: $FuenteSecundaria;
            font-size: 17px;
        }
    }
    h2 {
        font-family: $FuentePrincipal;
    }
}

.logoWhatsapp{
    position: sticky;
    height: 8vh;
    float: left;
    bottom: 5vh;
    padding: 0 2vh 0 0;
}

.contenedor {
    @include contenedor
}

nav {
    .container-fluid{
        background-image: $fondoNav;

        .logo{
            margin-left: 50px;
            font-family:$FuentePrincipal;
            color: $ColorLogo;
        }
            .colorNav{
                color: #000000;
                list-style: none;
                font-weight: 10px;
            }
        
        .botonMenu{
        

            .offcanvas-end {

                .offcanvas-header {
                    
                    .offcanvas-title {
                        color:$ColorLogo;

                        .offcanvas-body{ 
                            background-color: #000000;
                        }
                    }
                    .menuDesplegado{
                        font-size: 15px;
                        margin-top:15px;
                    }    
                }
            }
        }
    }
}
